@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --font-plus: 'Plus Jakarta Sans';
  --scrollbar-thumb: #8b7e73;
  --scrollbar-track: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 999px;
}

*::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

@layer components {
  .font-plus {
    font-family: var(--font-plus);
  }
}

html,
body {

  /* Cho Chrome, Safari và Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Cho IE, Edge cũ */
  -ms-overflow-style: none;

  /* Cho Firefox */
  scrollbar-width: none;
}

/*---------------- ContactItemIcon ---------------- */

@keyframes customWobble {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-4px) rotate(-2deg);
  }
  75% {
    transform: translateY(4px) rotate(2deg);
  }
}

.shake-item {
  animation: customWobble 4s ease-in-out infinite;
  transition: transform 0.3s ease;
}

.shake-item:hover {
  animation-play-state: paused;
  transform: scale(1.08) rotate(3deg) !important;
}

/*---------------- ContactInfo ---------------- */

@keyframes waveLoudspeaker {
  0%, 100% {
    transform: translate(-550px, 260px) rotate(0deg);
  }
  50% {
    transform: translate(-550px, 260px) rotate(-5deg);
  }
}

.auto-rotate-speaker {
  animation: waveLoudspeaker 3s ease-in-out infinite;
  transition: transform 0.3s ease-out;
}
